/*changes scrolling from jumping to smooth*/
*{
    scroll-behavior: smooth;
}

/*Navbar*/
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: 10px;
}
.navbar-toggler{
    margin-right: 10px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
.dropdown-menu > a:hover{
    background-color: rgb(61, 61, 61);
}


/*Intro Page*/
#intro{
    height: calc(100vh - 56px);
    width: 100%;
}
.introtitle{
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.intropara{
    width: 75%;
}
/*Carousel in intro*/
.carousel-inner img{
    width: 100%;
    height: 100%;
}
#gamePics{
    max-height: 50vh;
}

/*About Page*/
#about{
    height: 100vh;
    width: 100%;
}
.abouttitle{
    margin-top: calc(10vh + 56px);
    margin-bottom: 13vh;
}

/*Modes Page*/
#modes{
    height: 100vh;
    width: 100%;
}
.modestitle{
    margin-top: calc(10vh + 56px);
    margin-bottom: 13vh;
}
.card{
    width: 25vh;
    height: 25vh;
    opacity: 1;
    transition: height 0.5s ease, width 0.5s ease;
}
.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-title{
    color: black;
    transition: 0.5s ease;
    opacity: 0;
}
.card-img-top{
    margin: auto;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.card:hover{
    width: 35vh;
    height: 35vh;
}
.card:hover .card-img-top{
    opacity: 30%;
}
.card:hover .card-title{
    opacity: 1;
}


.body {
    height: 100%;
    margin: 0%;
    -webkit-user-select: none;
    user-select: none;
}


#bug-form h3{
    margin-left: 1%;
}

input{
    border-radius: 15px;
    margin: 1%;
    width: 20%;
    height: 35px;
}

select{
    border-radius:  15px;
    margin: 1%;
    width: 20%;
    height: 35px;
}

textarea{
    border-radius: 15px;
    margin: 1%;
    width: 20%;
    height: 120px;
}

.body-container{
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.game-title{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.shooting-container{
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    border: 2px black solid;
    z-index: 1;
}

.shooting-container h5{
    text-align: center;
    position: relative;
    top: 55%;
}

.point-container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.point-item{
    display: flex;
    padding-right: 2%;
}

.stop-item{
    display: flex;
    padding-right: 2%;
}

.timer-item{
    display: flex;
    padding-right: 2%;
}

.refresh-item:hover{
    color: red;
}

.stop-item:hover{
    color: red;
}

#aim{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    top: 52%;
    z-index: 2;
}



/*media query*/
@media (max-width: 768px){
    /*Intro page*/
    .intropara{
        margin-top: 3vh;
    }
    .introtitle{
        margin-top: 6vh;
        margin-bottom: 10vh;
    }

    /*About page*/
    .abouttitle{
        margin-top: calc(6vh + 56px);
        margin-bottom: 10vh;
    }
    
    /*Modes page*/
    .abouttitle{
        margin-top: calc(6vh + 56px);
        margin-bottom: 10vh;
    }
    
    
    .shooting-container{
        width: 100%;
    }

    #aim{
        left: 46%;
        top: 40%;
    }


}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}