.form-head{
    margin-left: 1%;
}

input{
    border-radius: 15px;
    margin: 1%;
    width: 20%;
    height: 40px;
}

select{
    border-radius:  15px;
    margin: 1%;
    width: 20%;
    height: 40px;
}

textarea{
    border-radius: 15px;
    margin: 1%;
    width: 20%;
    height: 130px;
}